$light-gray: #b6b6b6;
$yellow: #fdb515;
$green: #0dad4a;
$gray: #3d3d3d;
$percent-line: rgba(171, 171, 171, .4);
$dark-white: #ababab;

$title: #001864;
$header-border: #d9d9d9;
$chart-column-text: #3d3d3d;
$years-text: #9a9a9a;
$years-text-active: #fff;
$years-bg-active: #0292d8;

$risks-table-title: #4e4f4f;
$risks-table-title-bg: #dedede;
$risks-table-row-color: #dceaf2;

$footer-border: #d9d9d9;
